@model TrainModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["title"] = "Add New Train";
}

<form method="post" asp-action="Add">
    <div class="border p-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h4 class="text-black-50 pl-3">Add New Train</h4>
        </div>

        <div class="row">
            <div class="col-4">
                <label asp-for="DepartureStation">Departure station</label>
                <input asp-for="DepartureStation" class="form-control" />
                <span asp-validation-for="DepartureStation" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="FinalDestination">Final destination</label>
                <input asp-for="FinalDestination" class="form-control" />
                <span asp-validation-for="FinalDestination" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="TrainLength">Maximum train length on this direction (in railway carriages)</label>
                <input asp-for="TrainLength" class="form-control" />
                <span asp-validation-for="TrainLength" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="EC">Including empty railway carriages</label>
                <input asp-for="EC" class="form-control" />
                <span asp-validation-for="EC" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="Weight">Maximum train weight on this direction</label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="AverageAmountPerDay">Average amount of carriages per day on this destination (in railway carriages)</label>
                <input asp-for="AverageAmountPerDay" class="form-control" />
                <span asp-validation-for="AverageAmountPerDay" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="DC">Amount of railway carriages with dangerous cargo</label>
                <input asp-for="DC" class="form-control" />
                <span asp-validation-for="DC" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="w-12 btn-group" role="group">
            <a asp-action="Index" class="btn btn-outline-info mx-1">🡸 Back</a>
            <input type="submit" class="btn btn-outline-danger mx-1" value="✓ Add" />
        </div>
    </div>
</form>
