@model TrainModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["title"] = "Add New Train";
}

<form method="post" asp-action="Add">
    <div class="border p-5">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add New Train</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="DepartureStation">Departure station</label>
                <input asp-for="DepartureStation" class="form-control" />
                <span asp-validation-for="DepartureStation" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="FinalDestination">Final destination</label>
                <input asp-for="FinalDestination" class="form-control" />
                <span asp-validation-for="FinalDestination" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="TrainLength">Maximum train length on this direction(in railway carriages)</label>
                <input asp-for="TrainLength" class="form-control" />
                <span asp-validation-for="TrainLength" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="AverageAmountOfCarriagesPerDay">Average amount of carriages per day on this destination(in railway carriages)</label>
                <input asp-for="AverageAmountOfCarriagesPerDay" class="form-control" />
                <span asp-validation-for="AverageAmountOfCarriagesPerDay" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="w-12 btn-group" role="group">
            <a asp-action="Index" class="btn btn-outline-info mx-1">🡸 Back</a>
            <input type="submit" class="btn btn-outline-danger mx-1" value="✓ Add" />
        </div>
    </div>
</form>
