@model TrainModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Train Details for Edit";
}

<form method="post" asp-action="Edit">
    <input asp-for="TrainId" hidden />
    <div class="border p-1">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Сhange train data</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="DepartureStation"><b>Start from</b></label>
                <input asp-for="DepartureStation" class="form-control" readonly/>
                <span asp-validation-for="DepartureStation" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="FinalDestination"><b>Final destination</b></label>
                <input asp-for="FinalDestination" class="form-control" readonly/>
                <span asp-validation-for="FinalDestination" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="Weight"><b>Maximum train weight on this direction</b></label>
                <input asp-for="Weight" class="form-control" readonly/>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="TrainLength"><b>Train length on this direction</b></label>
                <input asp-for="TrainLength" class="form-control" />
                <span asp-validation-for="TrainLength" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="EC"><b>Including empty railway carriages</b></label>
                <input asp-for="EC" class="form-control" />
                <span asp-validation-for="EC" class="text-danger"></span>
            </div>
        </div>
        <br />        
        <div class="row">
            <div class="col-4">
                <label asp-for="AverageAmountPerDay"><b>Amount of carriages per day</b></label>
                <input asp-for="AverageAmountPerDay" class="form-control" />
                <span asp-validation-for="AverageAmountPerDay" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="DC"><b>Amount of railway carriages with dangerous cargo</b></label>
                <input asp-for="DC" class="form-control" />
                <span asp-validation-for="DC" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="w-12 btn-group" role="group">
            <a asp-action="Index" class="btn btn-info mx-1">🡸 Back</a>
            <input type="submit" class="btn btn-danger mx-1" value="✓ Save" />
        </div>
    </div>
</form>
